name: WhatsApp Automation

on:
#    - cron: '*/5 * * * *'  
#    - cron: '0 12 * * *' # Example: Runs every day at 12:00 UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Node dependencies
        run: |
          npm install whatsapp-web.js qrcode-terminal mongoose wwebjs-mongo
          # Install Google Chrome for stability
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable libgbm-dev libnss3 libatk-bridge2.0-0 libgtk-3-0 libasound2t64
      - name: Install Python dependencies
        run: pip install pandas openpyxl

      - name: Run Python script
        run: python main.py
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
